@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.text-danger {
    color: red;
    font-weight: 600;
}

.heading {
    text-align: center;
    color: #1C9BE8;
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    font-family: Arial;
    margin-top: 30px;
}

.registration-form {
    margin-right: 15%;
    margin-left: 25%;
    /*text-align: center;*/
    margin-top: 30px;
}

.login-form {
    margin-left: 40%;
    margin-right: 15%;
}

.control-label {
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    margin-right: 10px;
}

.form-group {
    margin: 15px;
}

.form-control, .filter-fields input[type="text"] {
    padding: 15px;
    /*padding-bottom: 1px;*/
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3332;
    margin-right: 25px;
    width: 300px;
    outline: none !important;
}

    .form-control:focus {
        border: 1px solid #1C9BE8;
    }

    .form-control::placeholder {
        font-size: 12px;
    }

.btn-register, .btn-cancel, .btn-login {
    font-size: 14px;
    line-height: 16px;
    /*display:inline;*/
    border-radius: 5px;
    width: 330px;
    border-color: #CFD8DC;
    color: white;
    margin-right: 30px;
    padding: 15px;
}

.landing-button a {
    width: 330px;
}

.btn-register, .btn-login, .btn-search {
    background-color: #1C9BE8;
}

.form-group.buttons {
    margin-right: 0;
}

.btn-cancel {
    background-color: #FF888C;
}

.login-head {
    font-size: 33px;
    line-height: 47px;
    color: #1C9BE8;
}

.login-form .form-control {
    padding: 15px;
    width: 300px;
    outline: none !important;
}

.login-form .btn-login {
    width: 330px;
    margin-right: 0;
}

.form-group p {
    display: inline;
}

.options-link {
    margin-top: 15px;
    display: flex;
    align-content: space-evenly;
}

    .options-link a {
        text-decoration: none;
        margin: 20px;
        color: #1C9BE8;
        font-weight: 600;
        font-size: 12px;
    }

        .options-link a:hover, .login-link a:hover {
            text-decoration: underline;
        }

.login-link {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

    .login-link a {
        text-decoration: none;
        margin: 0px;
        color: #1C9BE8;
        font-weight: 600;
    }

/*Profile page styling*/
.profile-containter {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    margin-left: 16%;
    margin-right: 16%;
    padding: 15px;
    border-radius: 8px;
}

    .profile-containter p {
        font-size: 23px;
        margin: 5px;
    }

    .profile-containter h1 {
        font-size: 45px;
        margin-bottom: 8px;
    }

    .profile-containter p a, .tutor-containter span a {
        color: white;
        background-color: #1C9BE8;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
    }

    .profile-containter p:last-of-type {
        margin: 35px;
    }

.fa-user-circle {
    color: white;
}

.tutors-container {
    margin-left: 25%;
    margin-right: 25%;
}

.tutor-containter {
    display: flex;
    background-color: #ededed;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
    padding-bottom: 10px;
}

    .tutor-containter div {
        margin: 15px;
    }

        .tutor-containter div p {
            margin-bottom: 30px;
        }

        .tutor-containter div span {
            width: 100px;
            margin-top: 100px;
        }

    .tutor-containter p {
        font-size: 23px;
    }

    .tutor-containter span a {
        width: 100px;
    }

.filter-fields {
    text-align: center;
    margin: 5px;
    margin-left: 0;
}

    .filter-fields label {
        position: relative;
        margin-right: 0;
        padding: 0;
    }

    .filter-fields input[type="text"]:after {
        content: 'Enter your number';
        position: absolute;
        left: 5px;
        top: 0;
        color: red;
    }

    .filter-fields input[type="text"] {
        position: relative;
        margin-right: 0;
    }

        .filter-fields input[type="text"]:focus {
            z-index: 10;
        }

.modules {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .modules ul {
        list-style: none;
    }

.fa-check {
    color: #1C9BE8;
}

.btn-search {
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    border-color: #CFD8DC;
    color: white;
    margin-left: 0;
    padding: 15px;
}

.btn-view {
    margin-top: 10px;
}

.profile-containter .modules ul {
    display: flex;
    justify-content: space-between;
}

.profile-containter .modules li {
    margin-right: 15px;
}


/*Navigation bar*/
.navbar {
    margin: 0;
    padding: 0;
    background-color: #1C9BE8;
    height: 50px;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

    .navbar ul {
        list-style-type: none;
        display: flex;
    }

        .navbar ul li {
            margin-right: 30px;
            margin-left: 10px;
        }

            .navbar ul li:hover {
                text-decoration: underline;
            }

            .navbar ul li a {
                text-decoration: none;
                color: inherit;
            }

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    background-color: #1C9BE8;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

    .footer a {
        color: #fff;
    }

        .footer a:hover {
            color: #1C9BE8;
        }

    .footer .social > * {
        margin-right: 30px;
    }

    .footer .social {
        margin-bottom: 1rem;
    }

    .footer hr {
        color: white;
        width: 50%;
    }

/*Landing page*/
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.landing-heading {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 800;
}

    .landing-heading span {
        color: #1C9BE8;
    }

.landing-p {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 18px;
}

.landing img {
    border-radius: 15px;
}
