@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="heading login-head">Forgot Password</h2>


<div class="login-form">
    <p>An email with your password has been sent to your registered email address.</p>


</div>




