@{
    ViewBag.Title = "Index";
}
<div class="landing">
    <div class="landing-text">
        <h1 class="landing-heading">
            Connect With The <span>Best Tutors.</span>
        </h1>
        <p class="landing-p">
            Tutor connect is a safe online platform that helps university students to find tutors
        </p>
        <div class="landing-button">
            @using (Html.BeginForm("Index", "Tutor", FormMethod.Get))
            {
                <label>
                    <input type="submit" class="btn-register" value="Get Tutor" />
                </label>

            }

        </div>
    </div>

    <div>
        <img src="~/Content/images/tutoring.jpg" />
    </div>

</div>


