@{
    ViewBag.Title = "Report";
    string str = (string)ViewData["department"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Report</h2>

<p style="color:green;font-size:19px;text-align:center">
    @str

<p />

